**/Nyt1.conll/*
typescript
Nyt1*/*
Nyt1.if_x_not/*
Nyt1.without-not_from-kay/*
Nyt1.with-not_from-kay/*
test_json_dir/*
.idea/*
old/*
.idea/*
.history/*
**/*.__ini 

# "smart versioned" file copies
**/*.?.* 

playground/*
logs/Apw/basic.md
logs/Nyt1/basic.md
logs/Nyt2/basic.md
hits/prefilter/Nyt1_ADV-ADJ_prefilter_duplicates.csv
hits/prefilter/Nyt1_ADV-ADJ_prefilter_hits.csv
test_data/*
info/logs/Apw/basic.md
info/logs/Apw/neg-ext-nonsubj.md
info/logs/Apw/neg-ext-subj.md
info/logs/Apw/neg-mit.md
info/logs/Apw/unknown-polarity.md
info/logs/Nyt1/basic.md
info/logs/Nyt1/neg-ext-nonsubj.md
info/logs/Nyt1/neg-ext-subj.md
info/logs/Nyt1/neg-mit.md
info/logs/Nyt1/unknown-polarity.md
info/logs/Nyt1clean/neg-ext-subj.md
info/logs/Nyt2/basic.md
info/logs/Nyt2/neg-ext-nonsubj.md
info/logs/Nyt2/neg-ext-subj.md
info/logs/Nyt2/neg-mit.md
info/logs/Nyt2/unknown-polarity.md
info/logs/apwtest/basic.md
info/logs/apwtest/neg-ext-subj.md
info/logs/quicktest/basic.md
info/logs/quicktest/devel.md
info/logs/quicktest/basic.md
info/logs/quicktest/devel.md
info/logs/quicktest/basic.md
info/logs/quicktest/devel.md
data/basic/quicktest.ADV-ADJ_prefilter/nyt_eng_199912.json
data/basic/quicktest.ADV-ADJ_prefilter/nyt_eng_199912.raw.json
data/basic/quicktest.S-be-ADV-ADJ_subj-control/nyt_eng_199912.json
data/basic/quicktest.S-be-ADV-ADJ_subj-control/nyt_eng_199912.raw.json
data/basic/quicktest.be-ADV-ADJ_predicate-adj/nyt_eng_199912.json
data/basic/quicktest.be-ADV-ADJ_predicate-adj/nyt_eng_199912.raw.json
data/basic/testing.ADV-ADJ_prefilter/nyt_eng_199407.raw.json
data/basic/testing.S-be-ADV-ADJ_subj-control/nyt_eng_199407.raw.json
data/devel/Nyt1clean.either_det/nyt_eng_199407.raw.json
data/devel/Nyt1clean.either_det/nyt_eng_199805.raw.json
data/devel/Nyt1clean.either_det/nyt_eng_199912.raw.json
data/devel/Nyt1clean.try/nyt_eng_199407.raw.json
data/devel/Nyt1clean.try/nyt_eng_199805.raw.json
data/devel/Nyt1clean.try/nyt_eng_199912.raw.json
data/devel/Nyt1clean.try_this/nyt_eng_199407.json
data/devel/Nyt1clean.try_this/nyt_eng_199407.raw.json
data/devel/Nyt1clean.try_this/nyt_eng_199805.json
data/devel/Nyt1clean.try_this/nyt_eng_199805.raw.json
data/devel/Nyt1clean.try_this/nyt_eng_199912.json
data/devel/Nyt1clean.try_this/nyt_eng_199912.raw.json
data/devel/apwtest.either_det/apw_eng_199911.raw.json
data/devel/apwtest.either_det/apw_eng_200412.raw.json
data/devel/apwtest.try_this/apw_eng_199911.raw.json
data/devel/apwtest.try_this/apw_eng_200412.raw.json
data/devel/longtest.either_det/nyt_eng_199805.json
data/devel/longtest.either_det/nyt_eng_199805.raw.json
data/devel/longtest.either_subj/nyt_eng_199805.raw.json
data/devel/longtest.some_det/nyt_eng_199805.raw.json
data/devel/longtest.some_subj/nyt_eng_199805.raw.json
data/devel/quicktest.either_det/nyt_eng_199912.raw.json
data/devel/quicktest.either_subj/nyt_eng_199912.raw.json
data/devel/quicktest.some_det/nyt_eng_199912.json
data/devel/quicktest.some_det/nyt_eng_199912.raw.json
data/devel/quicktest.some_subj/nyt_eng_199912.raw.json
data/devel/quicktest.try_this/nyt_eng_199912.json
data/devel/quicktest.try_this/nyt_eng_199912.raw.json
data/devel/testing.try/nyt_eng_199407.json
data/devel/testing.try/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.almost-no-one_subj/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.almost-no-one_subj/nyt_eng_199805.raw.json
data/mit-neg/Nyt1clean.almost-no-one_subj/nyt_eng_199912.raw.json
data/mit-neg/Nyt1clean.almost-no_det-of-subj/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.almost-no_det-of-subj/nyt_eng_199805.raw.json
data/mit-neg/Nyt1clean.almost-no_det-of-subj/nyt_eng_199912.raw.json
data/mit-neg/Nyt1clean.almost-nobody_subj/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.almost-nobody_subj/nyt_eng_199805.raw.json
data/mit-neg/Nyt1clean.almost-nobody_subj/nyt_eng_199912.raw.json
data/mit-neg/Nyt1clean.almost-none_subj/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.almost-none_subj/nyt_eng_199805.raw.json
data/mit-neg/Nyt1clean.almost-none_subj/nyt_eng_199912.raw.json
data/mit-neg/Nyt1clean.few_det-of-subj/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.few_det-of-subj/nyt_eng_199805.raw.json
data/mit-neg/Nyt1clean.few_det-of-subj/nyt_eng_199912.raw.json
data/mit-neg/Nyt1clean.few_subj/nyt_eng_199407.raw.json
data/mit-neg/Nyt1clean.few_subj/nyt_eng_199805.raw.json
data/mit-neg/Nyt1clean.few_subj/nyt_eng_199912.raw.json
data/mit-neg/testing.almost-no-one_subj/nyt_eng_199407.raw.json
data/mit-neg/testing.almost-no-one_subj/nyt_eng_199912.raw.json
data/mit-neg/testing.almost-no_det-of-subj/nyt_eng_199407.raw.json
data/mit-neg/testing.almost-no_det-of-subj/nyt_eng_199912.raw.json
data/mit-neg/testing.almost-nobody_subj/nyt_eng_199407.raw.json
data/mit-neg/testing.almost-nobody_subj/nyt_eng_199912.raw.json
data/mit-neg/testing.almost-none_subj/nyt_eng_199407.raw.json
data/mit-neg/testing.almost-none_subj/nyt_eng_199912.raw.json
data/mit-neg/testing.few_det-of-subj/nyt_eng_199407.raw.json
data/mit-neg/testing.few_det-of-subj/nyt_eng_199912.raw.json
data/mit-neg/testing.few_subj/nyt_eng_199407.raw.json
data/mit-neg/testing.few_subj/nyt_eng_199912.raw.json
data/neg-ext-nonsubj/Nyt1clean.never_VP-adv/nyt_eng_199407.json
data/neg-ext-nonsubj/Nyt1clean.never_VP-adv/nyt_eng_199407.raw.json
data/neg-ext-nonsubj/Nyt1clean.never_VP-adv/nyt_eng_199805.json
data/neg-ext-nonsubj/Nyt1clean.never_VP-adv/nyt_eng_199805.raw.json
data/neg-ext-nonsubj/Nyt1clean.never_VP-adv/nyt_eng_199912.json
data/neg-ext-nonsubj/Nyt1clean.never_VP-adv/nyt_eng_199912.raw.json
data/neg-ext-nonsubj/Nyt1clean.not_VP-adv/nyt_eng_199407.json
data/neg-ext-nonsubj/Nyt1clean.not_VP-adv/nyt_eng_199407.raw.json
data/neg-ext-nonsubj/Nyt1clean.not_VP-adv/nyt_eng_199805.json
data/neg-ext-nonsubj/Nyt1clean.not_VP-adv/nyt_eng_199805.raw.json
data/neg-ext-nonsubj/Nyt1clean.not_VP-adv/nyt_eng_199912.json
data/neg-ext-nonsubj/Nyt1clean.not_VP-adv/nyt_eng_199912.raw.json
data/neg-ext-nonsubj/Nyt1clean.without-being_PP/nyt_eng_199407.json
data/neg-ext-nonsubj/Nyt1clean.without-being_PP/nyt_eng_199407.raw.json
data/neg-ext-nonsubj/Nyt1clean.without-being_PP/nyt_eng_199805.json
data/neg-ext-nonsubj/Nyt1clean.without-being_PP/nyt_eng_199805.raw.json
data/neg-ext-nonsubj/Nyt1clean.without-being_PP/nyt_eng_199912.json
data/neg-ext-nonsubj/Nyt1clean.without-being_PP/nyt_eng_199912.raw.json
data/neg-ext-nonsubj/testing.never_VP-adv/nyt_eng_199407.json
data/neg-ext-nonsubj/testing.never_VP-adv/nyt_eng_199407.raw.json
data/neg-ext-nonsubj/testing.not_VP-adv/nyt_eng_199407.json
data/neg-ext-nonsubj/testing.not_VP-adv/nyt_eng_199407.raw.json
data/neg-ext-nonsubj/testing.without-being_PP/nyt_eng_199407.json
data/neg-ext-nonsubj/testing.without-being_PP/nyt_eng_199407.raw.json
data/neg-mit/quicktest.almost-no-one_subj/nyt_eng_199912.raw.json
data/neg-mit/quicktest.almost-no_det-of-subj/nyt_eng_199912.raw.json
data/neg-mit/quicktest.almost-nobody_subj/nyt_eng_199912.raw.json
data/neg-mit/quicktest.almost-none_subj/nyt_eng_199912.raw.json
data/neg-mit/quicktest.few_det-of-subj/nyt_eng_199912.raw.json
data/neg-mit/quicktest.few_subj/nyt_eng_199912.raw.json
data/unknown-polarity/Nyt1clean.every_det-of-subj/nyt_eng_199407.json
data/unknown-polarity/Nyt1clean.every_det-of-subj/nyt_eng_199407.raw.json
data/unknown-polarity/Nyt1clean.every_det-of-subj/nyt_eng_199805.json
data/unknown-polarity/Nyt1clean.every_det-of-subj/nyt_eng_199805.raw.json
data/unknown-polarity/Nyt1clean.every_det-of-subj/nyt_eng_199912.json
data/unknown-polarity/Nyt1clean.every_det-of-subj/nyt_eng_199912.raw.json
data/unknown-polarity/Nyt1clean.everybody_subj/nyt_eng_199407.json
data/unknown-polarity/Nyt1clean.everybody_subj/nyt_eng_199407.raw.json
data/unknown-polarity/Nyt1clean.everybody_subj/nyt_eng_199805.json
data/unknown-polarity/Nyt1clean.everybody_subj/nyt_eng_199805.raw.json
data/unknown-polarity/Nyt1clean.everybody_subj/nyt_eng_199912.raw.json
data/unknown-polarity/Nyt1clean.everyone_subj/nyt_eng_199407.json
data/unknown-polarity/Nyt1clean.everyone_subj/nyt_eng_199407.raw.json
data/unknown-polarity/Nyt1clean.everyone_subj/nyt_eng_199805.json
data/unknown-polarity/Nyt1clean.everyone_subj/nyt_eng_199805.raw.json
data/unknown-polarity/Nyt1clean.everyone_subj/nyt_eng_199912.raw.json
data/unknown-polarity/testing.every_det-of-subj/nyt_eng_199912.raw.json
data/unknown-polarity/testing.everybody_subj/nyt_eng_199912.raw.json
data/unknown-polarity/testing.everyone_subj/nyt_eng_199912.raw.json
longtest.conll/nyt_eng_199805.conllu
hits/devel/longtest_either_det_hits.csv
hits/devel/Nyt1clean_try_this_hits.csv
hits/devel/quicktest_some_det_hits.csv
hits/devel/quicktest_try_this_hits.csv
Pat/devel/either_det.pat
Pat/devel/either_subj.pat
Pat/devel/some_det.pat
Pat/devel/some_subj.pat
Pat/devel/try_this.pat
**/*.cpython-38.pyc
Pat/devel/either_det.pat
Pat/devel/either_subj.pat
Pat/devel/some_det.pat
Pat/devel/some_subj.pat
Pat/devel/try_this.pat
script/local_makeTable.sh
playground/*
info/logs/quicktest/basic.md
info/logs/quicktest/devel.md
info/logs/quicktest/basic.md
info/logs/quicktest/devel.md
process_pile/**/*
backup/FillJson.py
Pcc.conll/pcc_eng_test-main-0.conllu
Pcc.conll/pcc_eng_test-main-1.conllu
Pcc.conll/pcc_eng_test-train-0.conllu
Pcc.conll/test-main-0_at1235pmDec22.conllu
script/.vscode/.ropeproject/config.py
script/.vscode/.ropeproject/objectdb
script/__init__.py
